<div class="pull-right">
  <h3><%= link_to topic_path(@topic), class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>
  <%= link_to edit_topic_post_path(@topic,@post), class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit Post
  <% end %></h3>
</div>

<h1><%= @post.title %></h1>

<blockquote>
  <p><%= markdown @post.body %></p>
  <footer><%= @post.user.name %></footer>
</blockquote>

<table class="table table-hover">
  <% if @post.comments.count > 0 %>
    <tr>
      <td></td>
      <td><strong>Comment<strong></td>
    </tr>
    <% @post.comments.each_with_index do |comment, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><em><%= comment.body %></em></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>No Comments</td>
    </tr>
  <% end %>
</table>