<div class="pull-right">
  <h3><%= link_to topic_path(@topic), class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>
  <%= link_to edit_topic_post_path(@topic,@post), class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit Post
  <% end %>
  <% if policy(@post).destroy? %>
    <%= link_to "Delete Post", [@topic,@post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
  <% end %>
  </h3>
</div>

<h1><%= @post.title %></h1>

<blockquote>
  <p><%= markdown @post.body %></p>
  <footer>
    <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
    submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
  </footer>
</blockquote>

<div class="form-group">
  <p><%= image_tag(@post.image.url) if @post.image? %></p>
</div>

<!-- Comments -->
<dl class="dl-horizontal">
  <%= render @comments %>
</dl>

<div class="col-md-8">
  <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment } %>
</div>