<div class="vote-arrows pull-left">
  <%= link_to " ", topic_post_up_vote_path(topic, post), class: 'glyphicon glyphicon-chevron-up'  %>
  <strong><%= post.points %></strong>
  <%= link_to " ", topic_post_down_vote_path(topic, post), class: 'glyphicon glyphicon-chevron-down' %>
  <!--<div><%= post.rank %></div>-->
  <%= render partial: 'favorites/favorite', locals: { topic: @topic, post: post } %>
</div>